body{
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

.logo-part-blue{
        font-weight: 700;
        font-size: 26px;
        line-height: 1.192;
        letter-spacing: 0.03em;
        color: #2196F3;
        text-decoration: none;
}

.logo-part-black{
        font-weight: 700;
        font-size: 26px;
        line-height: 1.192;
        letter-spacing: 0.03em;
        color: #000000;
        text-decoration: none;
}

.header-nav{
    list-style: none;
}

.header-nav-link{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.142;
        letter-spacing: 0.02em;
        text-decoration: none;
}

.header-nav-link:hover,
.header-nav-link:focus{
        color: #2196F3;
}

.mailto-header{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.142;
        letter-spacing: 0.02em;
        color: #757575;
        text-decoration: none;
}

.mailto-header:hover,
.mailto-header:focus{
        color: #2196F3;
}

.tel-header{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.142;
        letter-spacing: 0.02em;
        color: #757575;
        text-decoration: none;
}

.tel-header:hover,
.tel-header:focus {
        color: #2196F3;
}

.main-nav{
    list-style: none;
}

.h1{
        font-weight: 900;
        font-size: 44px;
        line-height: 1.363;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
}

.main-button{
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
}

.main-button:hover,
.main-button:focus {
        color: #2196F3;
}

.h2-occupation{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
}

.h2-team{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
}

.h3-feature{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.142;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.h3-feature-list{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: #757575;
}

.team-list{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1875;
        text-align: center;
        letter-spacing: 0.03em;
}

.team-list-rank{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.1875;
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
}

.work-sections{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.625;
        text-align: center;
        letter-spacing: 0.03em;
}

.work-sections:hover,
.work-sections:focus {
        color: #ffffff;
}

.work-example{
        font-weight: 700;
        font-size: 18px;
        line-height: 2.000;
        letter-spacing: 0.06em;
}

.work-description{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.03em;       
        color: #757575;
}

.footer-nav{
    list-style: none;
}

.address{
    font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: #FFFFFF;
}

.address:hover,
.address:focus {
        color: #2196F3;
}

.mailto-footer{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.mailto-footer:hover,
.mailto-footer:focus {
        color: #2196F3;
}

.tel-footer{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
}

.tel-footer:hover,
.tel-footer:focus {
        color: #2196F3;
}